# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# SQLite database
db.sqlite3

# Static files generated
staticfiles/

# Environment variables
.env
# OS / editor
.vscode/
.DS_Store
scripts/
